<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:directBootAware="true"
        android:label="Ampersand Helper"
        android:theme="@android:style/Theme.NoDisplay">

        <activity
            android:name=".WirelessAdbBootstrapActivity"
            android:directBootAware="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true" />

        <receiver
            android:name=".WirelessAdbRecoveryReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".WirelessAdbRecoveryJobService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>
